numpy
opencv-contrib-python==4.1.0.25                                                                                                                                                                     
PyYAML
scikit-learn==0.23.2                                                                                                                                                                                
ffmpeg-python